<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Social Media Share</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div id="app">

        <h1>
            Social Media Links Generator
        </h1>

        <input v-model="websiteUrl" type="text">

        <p>{{ websiteUrl }}</p>

        <h2>Links</h2>
        <div id="links" v-for="base in baseUrl">
            <h3>{{ base.name }}</h3>
            <p v-html="base.url + websiteUrl"></p>
        </div>

        <h2>Buttons</h2>
        <div id="buttons" v-for="base in baseUrl">
            <h3>{{ base.name }}</h3>             
            <p>{{ displayButton(base.url,base.name) }}</p>
        </div>

        <script src="vue.min.js"></script>
        <script src="app.js"></script>

    </div>

</body>

</html>
